[submodule "System Programming/mountain"]
	path = System Programming/mountain
	url = git@github.com:simnalamburt/snucse.mountain.git
[submodule "System Programming/buflab"]
	path = System Programming/buflab
	url = git@github.com:simnalamburt/snucse.buflab.git
[submodule "System Programming/archlab"]
	path = System Programming/archlab
	url = git@github.com:simnalamburt/snucse.archlab.git
[submodule "System Programming/cachelab"]
	path = System Programming/cachelab
	url = git@github.com:simnalamburt/snucse.cachelab.git
[submodule "System Programming/perflab"]
	path = System Programming/perflab
	url = git@github.com:simnalamburt/snucse.perflab.git
