[submodule "System Programming/assign0"]
	path = System Programming/assign0
	url = git@github.com:simnalamburt/snucse.mountain.git
[submodule "System Programming/assign1"]
	path = System Programming/assign1
	url = git@github.com:simnalamburt/snucse.buflab.git
